---
layout: default
title: F#ドキュメント
description: Hi, F#er's!!
---

<body>
  This site is for F# lovers!!

  <section>
    <h1>Categories</h2>
    <ul>
      {% for tag in site.tags %}
        <article>
          <h2 id="tag_{{ tag[0] }}">{{ tag[0] }}</h1>
          <ul>
            {% for post in tag[1] %}
            <li><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a> : {{ post.date| date_to_string | date: "%Y-%m-%d" }}</li>
            {% endfor %}
          </ul>
        </article>
      {% endfor %}
    </ul>

    <h1>ページ一覧</h2>
    {% for post in site.posts %}
    <li><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a> : {{ post.date| date_to_string | date: "%Y-%m-%d" }}</li>
    {% endfor %}
  </section>
</body>
